<div *ngIf="loading" class="loading">
    <p>Waiting for the game to be launched...</p>
</div>

<div *ngIf="played" class="loading">
    <p>Waiting for everyone to play...</p>
    <p>Results of the round will be on the table !</p>
</div>

<div *ngIf="!loading && !played" class="content-container">
    <app-card [card]="selectedCard"></app-card>

    <div cdkDropList class="cards-container" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let card of cards" cdkDrag>
            <app-card [card]="card" (click)="selectCard(card)"></app-card>
        </div>
    </div>

    <button type="button" id="button-play" (click)="play()" [disabled]="!select">Play the card</button>
</div>