<div class="main">
    <app-info-bar [player]="player" [gameStatus]="gameStatus"></app-info-bar>
    <div *ngIf="gameStatus === GameStatusEnum.BEGINING" class="message">
        <p>Waiting for the game to be launched...</p>
    </div>

    <div *ngIf="gameStatus === GameStatusEnum.END" class="message">
        <p>Game finished...</p>
        <p>You are {{player?.gameResult?.ranking || ""}} of the game with {{player?.gameResult?.cattleHeads || ""}}
            cattle heads !</p>
    </div>

    <div *ngIf="gameStatus === GameStatusEnum.WAITING" class="table">
        <app-table-cards [player]="player"></app-table-cards>
    </div>

    <div class="content-container" *ngIf="gameStatus === GameStatusEnum.PLAYING && player !== null">
        <p class="text" [ngStyle]="{'visibility': (timer<=10) ? 'visible' : 'hidden', 'color': 'red'}">You don't have
            much time left !
        </p>
        <p class="text" [ngStyle]="{'visibility': (selectedCard !== null) ? 'hidden' : 'visible'}">Pick a card !</p>
        <div class="cards-container">
            <app-card class="card-element" *ngFor="let card of cards; let i = index" (click)="select(card)"
                [@cardAnimation]="{ value: card.state, params: { degree: (120 / cards.length * i - (120 / (2 * cards.length)) * (cards.length - 1)) } }"
                [ngStyle]="{'filter': (card !== selectedCard && selectedCard !== null) ? 'blur(10px)' : 'blur(0px)', 'zIndex': (card !== selectedCard && selectedCard !== null) ? 'auto' : 2, 'transition': 'filter 600ms'}"
                [indicator]="i !== cards.length-1 && card !== selectedCard && cards.length >= 5"
                [card]="card"></app-card>
        </div>
        <div class="buttons" *ngIf="selectedCard !== null">
            <button type="button" id="button-play" (click)="play()">Play the card</button>
            <button type="button" id="button-cancel" (click)="cancel()">Cancel</button>
        </div>
    </div>

</div>