<div class="main">
    <div class="header" [ngStyle]="{'justifyContent': loading ? 'center' : 'space-between'}">
        <div class="header-left" *ngIf="!loading">
            <p>🐮</p>
            <p>{{cattleHeads}}</p>
        </div>

        <div class="header-center" *ngIf="!loading && !played && !end && player !== null"
            [ngStyle]="{'color': (timer<=10) ? 'red' : 'black'}">
            <mat-icon>timer</mat-icon>
            <p>{{timer}}</p>
        </div>

        <div class="header-right">
            <img src="{{urlAvatar}}" style="width: 50px; height: 50px;" alt="" />
            <p>{{player?.username}}</p>
        </div>
    </div>

    <div *ngIf="loading" class="loading">
        <p>Waiting for the game to be launched...</p>
    </div>

    <div *ngIf="played" class="loading">
        <p>Waiting for everyone to play...</p>
        <p>Results of the round will be on the table !</p>
    </div>

    <div *ngIf="end" class="loading">
        <p>Game finished...</p>
        <p>You are {{player?.gameResult?.ranking || ""}} of the game with {{player?.gameResult?.cattleHeads || ""}}
            cattle heads !</p>
    </div>

    <div class="content-container" *ngIf="!loading && !played && !end && player !== null">
        <p class="text" [ngStyle]="{'visibility': (timer<=10) ? 'visible' : 'hidden', 'color': 'red'}">You don't have
            much time left !
        </p>
        <p class="text" [ngStyle]="{'visibility': (selectedCard !== null) ? 'hidden' : 'visible'}">Pick a card !</p>
        <div class="cards-container">
            <app-card class="card-element" *ngFor="let card of cards; let i = index" (click)="select(card)"
                [@cardAnimation]="{ value: card.state, params: { degree: (120 / cards.length * i - (120 / (2 * cards.length)) * (cards.length - 1)) } }"
                [ngStyle]="{'filter': (card !== selectedCard && selectedCard !== null) ? 'blur(10px)' : 'blur(0px)', 'zIndex': (card !== selectedCard && selectedCard !== null) ? 'auto' : 2, 'transition': 'filter 600ms'}"
                [indicator]="i !== cards.length-1 && card !== selectedCard" [card]="card"></app-card>
        </div>
        <div class="buttons" *ngIf="selectedCard !== null">
            <button type="button" id="button-play" (click)="play()">Play the card</button>
            <button type="button" id="button-cancel" (click)="cancel()">Cancel</button>
        </div>
    </div>

</div>