<div class="card">
    <div class="top-card">
        <p>{{ card?.value }}</p>
        <div class="heads">
            <p>{{ cattleHeadsLine1 }}</p>
            <p>{{ cattleHeadsLine2 }}</p>
        </div>
        <p>{{ card?.value }}</p>
    </div>
    <h1 class="center-card">{{ card?.value }}</h1>
    <div class="bottom-card">
        <p class="bottom-value">{{ card?.value }}</p>
        <div class="heads">
            <p>{{ cattleHeadsLine2 }}</p>
            <p>{{ cattleHeadsLine1 }}</p>
        </div>
        <p class="bottom-value">{{ card?.value }}</p>
    </div>
</div>